@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");

header {
  background-image: url("https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-family: "El Messiri", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  color: #fff;

  h2 {
    letter-spacing: 1px;
  }

  li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;

    a {
      text-decoration: none;
      color: #fff;
      padding: 5px;
      font-size: 20px;
    }

    a:hover {
      border-bottom: 1px solid #9b0303;
    }
  }
}

.cart {
  ion-icon {
    vertical-align: top;
    font-size: 25px;
    padding-right: 5px;
  }

  a {
    background-color: #9b0303;
    border-radius: 5px;
    color: #fff;
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(10, 10, 10, 0.3);
}
